.root {
  width: max-content;
  padding: 12px 16px;
  border-radius: 24px;
  font-size: 14px;
  background-color: var(--color-light);
  color: var(--color-text);
  white-space: nowrap;
  user-select: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;

  &Selected {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  &:hover:not(&Selected) {
    background-color: var(--color-light-hover);
  }
}
