:root {
  --color-white: #fff;
  --color-light: #ededed;
  --color-light-hover: #e0e0e0;
  --color-text: #6e6e6e;
  --color-accent: #06c755;

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#root {
  max-width: 768px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  box-shadow: var(--box-shadow);
}
